/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --color-titulos: #464646;
   --color-fondo-azul: #EAF2FD;
   --color-cajas: #fbfbfb;
   --azul-botones:#2A7AE4;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 9vh;
    margin: 0 0;
}

header.menu__header{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color : var(--color-titulos);
}

section.menu nav ul.menu__list{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 750px;
}
section.menu li.menu__list__item__contato{
    display: none;
}

section.menu nav ul.menu__list li:nth-child(6){
    color:black;
    font-weight: 800;

}

/*Sección Title*/

section.title{
    margin: 0 153px;
    width: 80%;
    color: var(--color-titulos);
}

section.title div.title__div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: flex-start;
}

section.title div.title__container h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
}

section.title img.title__profile {
    width: 400px;
    height: 300px;
    border-radius: 50%;
}

section.title div.title__div div.title__container h3{
    font-size: 17px;
    line-height: 23px;
    width: 600px;
    margin-bottom: 30px;
}

section.title div.title__div div.title__container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 500px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

/*Sección About*/

section.about{
    padding: 0.5rem 153px;
    background-color: var(--color-fondo-azul)
}

section.about div.about__container{
    width:700px;
}

section.about h3.about__title{
    font-size: 32px;
}

section.about div.about__container p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/*Skills*/

section.skills {
    margin: 64px 100px;
}

section.skills h3.skills__title{
    font-size: 32px;
    text-align: center;
}

section.skills div.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

section.skills div.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 22px 15px 22px 0px;
    width: 140px;
    height: 160px;
}

section.skills div.skills__box ul{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);
}

/*Sección Hobbies*/

section.hobbies{
    margin: 64px 100px;
}

section.hobbies h3.hobbies__title {
    font-size: 32px;
    text-align: center;
}

section.hobbies div.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

section.hobbies div.hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 1rem 2rem 1rem 0;
    width: 140px;
    height: 160px;
}

section.hobbies div.hobbies__box ul{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);
}

/* Experiencia Académica*/

section.academic{
    padding: 30px 0;
    background-color: var(--color-fondo-azul);
    
}

section.academic h2.academic__title {
    font-size: 32px;
    text-align: center;
    
}

section.academic div.academic__courses {
    display:flex;
    justify-content: center;
}

section.academic div.academic__courses__box {
    width: 26.6rem;
    margin: 0 1rem;  
    
}

section.academic div.academic__courses__box ul{
    margin:32px;
    padding: 0;
    
}

section.academic div.academic__courses__box ul li{
    padding: 0;
    margin: 1rem;
    
}

section.academic div.academic__courses__box ul li.academic__courses__item__img{
    padding: 8px;
    background-color: #FFFFFF;
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

section.academic div.academic__courses__box ul li.academic__courses__item__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-titulos);

}

section.academic div.academic__courses__box ul li.academic__courses__item__subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);

}


/* experiencia*/

section.experience{
    background-color: var(--cor-de-fundo);
    padding: 0px;
}

section.experience h2.experience__section__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: var(--color-titulos);
}

section.experience div.experience__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15rem 64px 15rem;
    
}

section.experience img.experience__img{
    width: 600px;
    height: 300px;
}

section.experience div.experience__info{
    width: 250px;
    height: 120px;
    
}

section.experience h2.experience__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-titulos);
}

section.experience h3.experience__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);
}

section.experience div.experience__description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

section.experience button.experiencia__botao--repo{
    width: 116px;
    height: 41px;
    border: 1px solid var(--azul-botones);
    margin: 0.5rem;

}

section.experience button.experience__botao--demo{
    width: 105px;
    height: 41px;
    background-color: var(--azul-botones);
    margin: 0.5rem;
    color: var(--color-cajas);
    border: 1px  solid var(--color-cajas);
}

section.experience div:nth-child(3){
    flex-direction: row-reverse;
}

section.experience div:nth-child(5){
    flex-direction: row-reverse;
}

/*Contacto*/

section.formcontato {
    background-color: var(--color-fondo-azul);
    padding: 100px 0 40px 0;
}

section.formcontato div.formcontato__contacto{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 1rem 0 1rem;
}

section.formcontato div.formcontato__text{
   margin: 1rem;
}


section.formcontato form.formcontato__form{
    display: flex;
    flex-direction: column;
    
}

section.formcontato h2.formcontato__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 0 0;
    color: var(--color-titulos);
}

section.formcontato h3.formcontato__subtext{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);
}

section.formcontato form input.formcontato__input{
    margin: 16px 1rem 16px 0;
    width: 656px;
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

section.formcontato form textarea.formcontato__textarea{
    margin: 16px 0 16px 0;
    width: 656px;
    
}

section.formcontato form button.formcontato__botao{
    width: 130px;
    height: 51px;
    margin: 16px 0 16px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: var(--azul-botones);
    color: var(--color-cajas);  
    border: 1px solid var(--azul-botones);
}

.formcontato__form--invalid {
    border: 1px solid rgb(228, 53, 53);
    border-radius: 7px;
    
}

.formcontato__form--invalid::placeholder{
    color: red;
    
}

/*footeer*/

section.footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--color-titulos);
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 820px) {

/*Menu*/

section.menu{
    align-items:flex-start;
    width:700px
 }
 
 section.menu nav{
     width: 240px;
 }
 
 section.menu li.menu__list__item{
     display: none;
 }
 
 section.menu li.menu__list__item__contato{
     display:flex;
     align-content: center;
     margin: 0 0 0 2rem;
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: var(--color-titulos);
 }
 
 /*Titulo*/
 
 section.title{
     margin: 0.5rem 1rem 0 1rem;
     
 }
 
 section.title div.title__div{
     width: 700px;
   
 }
 
 section.title div.title__container h2{
     font-size: 16px;
     line-height: 26px;
     width: 550px;
     
 }
 
 section.title div.title__div div.title__container h3{
     font-size: 16px;
     line-height: 19px;
     font-weight: 400;
     height: 48px;
     width: 550px;
    
 }
 
 section.title img.title__profile {
     width: 150px;
     height: 200px;
 
 }
 
 section.title div.title__div div.title__container ul {
    width: 480px;
    font-size: 16px;
    line-height: 16px;
 }
 
 /*Sección sobre mi*/
 
 section.about{
     align-content: flex-start;
     padding: 0.5rem 1rem 0.5rem 0.5rem;
     margin: 0 0;
     width: 700px;
 }
 
 section.about div h3.about__title{
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 26px;
 }
 
 section.about div p.about__paragraph{
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 16px;
 }
 
 section.about div.about__container{
     width:700px;
     margin: 0 0.5rem;
 }
 
 
 /*Skills*/
 section.skills{
     margin: 0 0 0 0.5rem;
     width: 700px;
 }
 
 section.skills div.skills__line{
     flex-direction: row;
    
 }
 
 section.skills div.skills__box{
     width: 150px;
     height: 118px;
 }
 
 /*Hobbies*/
 section.hobbies{
     margin: 0;
     width: 700px;
     margin: 0 0 0 0.5rem;
 }
 
 section.hobbies div.hobbies__line {
     flex-direction: row;
     
 }
 
 section.hobbies div.hobbies__box{
     width: 150px;
     height: 118px;
     
 }
 
 /*Formación Académica*/
 
 section#formacion.academic{
     width: 750px;
     margin: 0.5rem 0.5rem 1rem 0.2rem;
     padding: 0.5rem 0.5rem;
     
 }
 section.academic h2.academic__title {
     font-size: 22px;
     line-height: 26px;
     
 }
 
 
 section.academic div.academic__courses__box{
     width: 220px;
 }
 
 section.academic ul.academic__courses__list{
     margin: 0;
     width: 280px;
 }
 
 section.academic div.academic__courses__box ul{
     margin:0.2rem;   
 }
 
 section.academic div.academic__courses__box ul li{
     margin: 0.2rem 0 1rem 3rem; 
 }
 
 section.academic div.academic__courses__box ul li.academic__courses__item__img{
     width: 200px;
     height: 225px;
     margin: 0.5rem 0 1rem 0.5rem;
 }
 
 /*Experiencia Profesional*/
 
 section.experience{
     width: 770px;  
 }
 
 section.experience h2.experience__section__title{
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 26px;
 }
 
 section.experience div.experience__box{
     flex-direction: column;
     margin: 3rem 0 5rem 0.2rem;
     
 }
 
 section.experience img.experience__img{
     width: 650px;
     height: 370px;
 }
 
 section.experience div.experience__info{
     width: 250px;
     height: 120px;
     
 }
 
  /*Contacto*/
 
  section.formcontato {
     width:770px;
     margin: 1rem 0rem 1rem 0rem;
     padding: 1rem 0rem 1rem 0rem;
  }
 
 section.formcontato div.formcontato--esquerda{
     display: none;
 }
 
 section.formcontato div.formcontato__contacto{
     flex-direction: column;
     margin: 1rem 0.2rem 1rem 0.2rem;  
 }
 
 section.formcontato div.formcontato__text{
     width: 700px;
 }
 
 section.formcontato div h2.formcontato__title{
     font-size: 22px;
     line-height: 26px;
 }
 
 
 section.formcontato div h3.formcontato__subtext{
     font-size: 16px;
     line-height: 19px;
     width: 700px;
 }
 
 section.formcontato form input.formcontato__input{
     width: 680px;
     height: 56px;
 }
 
 section.formcontato form textarea.formcontato__textarea{
     width: 680px;
     height: 170px;
     
 }

}

/*Mobile*/
@media (max-width: 425px) {

/*Menu*/

section.menu{
   align-items:flex-start;
   margin: 1rem 1rem 1rem 0.5rem;
   width:300px
}

section.menu nav{
    width: 180px;
}

section.menu li.menu__list__item{
    display: none;
}

section.menu li.menu__list__item__contato{
    display:flex;
    margin: 0 0 0 2rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-titulos);
}

/*Titulo*/

section.title{
    margin: 0.5rem 1rem 0 1rem;
    
}

section.title div.title__div{
    flex-direction: column;
    width: 300px;
  
}

section.title div.title__container h2{
    font-size: 14px;
    line-height: 26px;
    width: 320px;
    
}

section.title div.title__div div.title__container h3{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    height: 48px;
    width: 320px;
   
}

section.title img.title__profile {
    width: 150px;
    height: 200px;

}

section.title div.title__div div.title__container ul {
   width: 300px;
   font-size: 12px;
   line-height: 16px;
}

/*Sección sobre mi*/

section.about{
    align-content: flex-start;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    margin: 0 0;
    width: 335px;
}

section.about div h3.about__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

section.about div p.about__paragraph{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

section.about div.about__container{
    width:320px;
    margin: 0 0.5rem;
}


/*Skills*/
section.skills{
    margin: 0 0 0 0.5rem;
    width: 320px;
}

section.skills div.skills__line{
    flex-direction: row;
   
}

section.skills div.skills__box{
    width: 75px;
    height: 110px;
}

/*Hobbies*/
section.hobbies{
    margin: 0;
    width: 320px;
    margin: 0 0 0 0.5rem;
}

section.hobbies div.hobbies__line {
    flex-direction: row;
    
}

section.hobbies div.hobbies__box{
    width: 75px;
    height: 110px;
    
}

/*Formación Académica*/

section#formacion.academic{
    width: 340px;
    margin: 0.5rem 0.5rem 1rem 0.2rem;
    padding: 0.5rem 0.5rem;
    
}
section.academic h2.academic__title {
    font-size: 22px;
    line-height: 26px;
    
}

section.academic div.academic__courses{
    flex-direction: column;
}

section.academic div.academic__courses__box{
    width: 280px;
}

section.academic ul.academic__courses__list{
    margin: 0;
    width: 280px;
}

section.academic div.academic__courses__box ul{
    margin:0.2rem;   
}

section.academic div.academic__courses__box ul li{
    margin: 0.2rem 0 1rem 3rem; 
}

section.academic div.academic__courses__box ul li.academic__courses__item__img{
    width: 200px;
    height: 225px;
    margin: 0.5rem 0 1rem 0.5rem;
}

/*Experiencia Profesional*/

section.experience{
    width: 340px;  
}

section.experience h2.experience__section__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

section.experience div.experience__box{
    flex-direction: column;
    margin: 3rem 0 5rem 0.2rem;
    
}

section.experience img.experience__img{
    width: 250px;
    height: 170px;
}

section.experience div.experience__info{
    width: 250px;
    height: 120px;
    
}

 /*Contacto*/

 section.formcontato {
    width:360px;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
 }

section.formcontato div.formcontato--esquerda{
    display: none;
}

section.formcontato div.formcontato__contacto{
    flex-direction: column;
    margin: 1rem 0.2rem 1rem 0.2rem;  
}

section.formcontato div.formcontato__text{
    width: 280px;
}

section.formcontato div h2.formcontato__title{
    font-size: 22px;
    line-height: 26px;
}


section.formcontato div h3.formcontato__subtext{
    font-size: 14px;
    line-height: 19px;
    width: 240px;
}

section.formcontato form input.formcontato__input{
    width: 280px;
    height: 50px;
}

section.formcontato form textarea.formcontato__textarea{
    width: 280px;
    height: 100px;
    
}

/*Footer*/

}